@import "reset.css";

body {
  width: 100%;
  height: 1500px;
  font-family: sans-serif;
}

.pinkbox {
  background-color: #ff7979;
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1;
}

.bluebox {
  background-color: #7ed6df;
  width: 70%;
  height: 1500px;
  position: relative;
  top: 90px;
}

.bluebox .title {
  position: absolute;
  font-size: 30px;
  margin-left: 40px;
  color: white;
  margin-top: 60px;
}

.yellowbox {
  background-color: #ffcc00;
  border: 5px solid #979797;
  width: 28%;
  height: 1500px;
  position: absolute;
  right: 0px;
  top: 90px;
}

.greenbox {
  background-color: #badc58;
  width: 110px;
  height: 50px;
  position: absolute;
  display: inline-block;
  right: 18%;
  top: 70px;
  z-index: 2;
}
